@model FornecedorModel
@{
    ViewData["Title"] = "Fornecedores";
}
<title>Adicionar Fornecedor</title>
<div class="text-center">

    <h1 class="display-4">Cadastrar Fornecedores</h1>

</div>

<form asp-controller="Fornecedores" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="CNPJ">CNPJ</label>
        <input type="text" asp-for="CNPJ" class="form-control" placeholder="Digite aqui o CNPJ" />
        @Html.ValidationMessageFor(X => X.CNPJ)
    </div>

    <div class="form-group">
        <label for="Empresa">Empresa</label>
        <input type="text" asp-for="Empresa" class="form-control" placeholder="Digite aqui o nome da empresa">
        @Html.ValidationMessageFor(X => X.Empresa)
    </div>

    <div class="form-group">
        <label for="Contato">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control" placeholder="Digite aqui o telefone">
        @Html.ValidationMessageFor(X => X.Telefone)
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Confirmar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Fornecedores" asp-action="Index" role="button">Voltar</a>
</form>