@model FornecedorModel
@{
    ViewData["Title"] = "Editar - Fornecedores";
}

<div class="text-center">

    <h1 class="display-4">Editar Fornecedores</h1>

</div>

<form asp-controller="Fornecedores" asp-action="Alterar" method="post">


    <input type="hidden" asp-for="id"/>

    <div class="form-group">
        <label for="CNPJ">CNPJ</label>
        <input type="text" asp-for="CNPJ" class="form-control" placeholder="INSIRA O CNPJ...">
    </div>

    <div class="form-group">
        <label for="Empresa">Empresa</label>
        <input type="text" asp-for="Empresa" class="form-control" placeholder="INSIRA O NOME...">
    </div>

    <div class="form-group">
        <label for="Contato">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control" placeholder="INSIRA O TELEFONE...">
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Fornecedores" asp-action="Index" role="button">Voltar</a>
</form>