@model HomeModel
@{
    ViewData["Title"] = "UrbanGreen";
}

<title>UrbanGreen</title>

<div class="text-center">
    <h1 class="display-4">UrbanGreen</h1>
    <p>Onde o verde ganha espaço na cidade.</p>
</div>
